@model  CategoryModel

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body bg-light">
                    <h5 class="card-title text-center text-danger">Edit Category</h5>
                    <hr />
                    @using (Html.BeginForm("Edit", "Category", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(p => p.HouseholdId)
                        <div class="form-label-group">
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            @Html.LabelFor(p => p.Name, new { })
                            @Html.TextBoxFor(p => p.Name, new { @class = "form-control", autofocus = true })
                        </div>

                        <div class="form-label-group mt-4">
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            @Html.LabelFor(p => p.Description, new { })
                            @Html.TextAreaFor(p => p.Description, new { @class = "form-control" })
                        </div>

                        <div class="form-group mt-4">
                            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Edit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>