@model HouseholdModel

<div class="container">
    <div class="row">
        <div class="col-12 mx-auto text-center text-primary my-4">
            <h1>Household</h1>
            <hr />
        </div>
        <div class="col-12 mx-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped display">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Owner</th>
                                <th>Members</th>
                                <th>Categories</th>
                            </tr>
                        </thead>
                        <tfoot class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Owner</th>
                                <th>Members</th>
                                <th>Categories</th>
                            </tr>
                        </tfoot>
                        <tbody class="text-primary">
                            <tr>
                                <td>@Model.Name</td>
                                <td>@Model.Created</td>
                                @if (Model.Updated.HasValue)
                                {
                                    <td>@Model.Updated</td>
                                }
                                else
                                {
                                    <td>never</td>
                                }
                                <td>@Model.Owner.Email</td>
                                <td>@Model.Members.Count()</td>
                                <td>@Model.Categories.Count()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-8 my-1 mx-auto">

            @if (Request.Cookies["UserName"]?.Value == Model.Owner.Email)
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", "Households", new { id = Model.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", "Households", new { id = Model.Id }, new { @class = "btn btn-danger" })
                </div>
            }

            <div class="my-2">
                <h2>Description</h2>
                <p>@Model.Description</p>
            </div>
        </div><div class="col-4 my-5 mx-auto">
            <h2>Members</h2>
            <ul class="list-unstyled">
                @if (Model.Members.Any(p => p.Email == Request.Cookies["UserName"]?.Value) || Request.Cookies["UserName"]?.Value == Model.Owner.Email)
                {
                    <li class="media border-bottom border-top p-2">
                        <div class="mr-3"><span class="fa fa-user-secret"></span></div>
                        <div class="media-body">
                            <p class="m-0 text-primary">@Model.Owner.Email  <small class=" text-warning">( Owner )</small></p>
                        </div>
                    </li>
                    foreach (var user in Model.Members)
                    {
                        <li class="media border-bottom border-top p-2">
                            <div class="mr-3"><span class="fas fa-user-tie"></span></div>
                            <div class="media-body">
                                <p class="m-0 text-primary">@user.Email  <small class=" text-warning">( Member )</small></p>
                            </div>
                        </li>
                    }

                    foreach (var user in Model.Invitees)
                    {
                        <li class="media border-bottom border-top p-2">
                            <div class="mr-3"><span class="fas fa-user"></span></div>
                            <div class="media-body">
                                <p class="m-0 text-primary">@user.Email  <small class=" text-warning">( Invitee )</small></p>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li>
                        User Not Authorized To View.
                    </li>
                }
                @if (Request.Cookies["UserName"]?.Value == Model.Owner.Email)
                {
                    <li class="my-2">
                        <a href="@Url.Action("InviteUser", "Households", new { id=Model.Id})" class="btn btn-primary">Invite a User</a>
                    </li>
                }
                @if (Model.Members.Any(p => p.Email == Request.Cookies["UserName"]?.Value))
                {
                    <li>
                        @using (Html.BeginForm("Leave", "Households", new { id = Model.Id }, FormMethod.Post, new { @class="my-2"}))
                        {
                            <button class="btn btn-danger" type="submit">Leave Household</button>
                        }
                    </li>
                }
                else if (Model.Invitees.Any(p => p.Email == Request.Cookies["UserName"]?.Value))
                {
                    <li>
                        @using (Html.BeginForm("Join", "Households", new { id = Model.Id }, FormMethod.Post, new { @class="my-2"}))
                        {
                            <button class="btn btn-success" type="submit">Join Household</button>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>