@model HouseholdModel

<div class="container">
    <div class="row">
        <div class="col-12 mx-auto text-center text-primary my-4">
            <h1>Household</h1>
            <hr />
        </div>
        <div class="col-6 mx-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive table-bordered table-striped display">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                        </thead>
                        <tfoot class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                        </tfoot>
                        <tbody class="text-primary">
                            <tr>
                                <td>@Model.Name</td>
                                <td>@Model.Created</td>
                                @if (Model.Updated.HasValue)
                                {
                                    <td>@Model.Updated</td>
                                }
                                else
                                {
                                    <td>never</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6 my-4 mx-auto p-2">
            @if (Request.Cookies["UserName"]?.Value == Model.Owner.Email)
            {
                @Html.ActionLink("Edit Household", "Edit", "Households", new { id = Model.Id }, new { @class = "btn-sm btn-warning mx-1" })
                @Html.ActionLink("Delete Household", "Delete", "Households", new { id = Model.Id }, new { @class = "btn-sm btn-danger" })
            }

            <h2 class="my-2">Description</h2>
            <p>@Model.Description</p>
        </div>

        <div class="col-6 my-1 mx-auto p-5">
            @if (Request.Cookies["UserName"]?.Value == Model.Owner.Email)
            {
                @Html.ActionLink("Invite User", "InviteUser", "Households", new { id = Model.Id }, new { @class = "btn-sm btn-primary" })
            }

            @if (Model.Members.Any(p => p.Email == Request.Cookies["UserName"]?.Value))
            {
                @Html.ActionLink("Leave", "Leave", "Households", new { id = Model.Id }, new { @class = "btn-sm btn-danger" })
            }

            @if (Model.Members.Any(p => p.Email == Request.Cookies["UserName"]?.Value))
            {
                @Html.ActionLink("Join", "Join", "Households", new { id = Model.Id }, new { @class = "btn-sm btn-success" })
            }

            <h2 class="my-2">Members</h2>
            <ul class="list-unstyled">
                @if (Model.Members.Any(p => p.Email == Request.Cookies["UserName"]?.Value) || Request.Cookies["UserName"]?.Value == Model.Owner.Email)
                {
                    <li class="media border-bottom border-top p-2">
                        @Model.Owner.Email  <span class="text-danger"> ( Owner )</span>
                    </li>
                    foreach (var member in Model.Members)
                    {
                        <li class="media border-bottom border-top p-2">
                            @member.Email  <span class="text-warning"> ( Member )</span>
                        </li>
                    }

                    foreach (var invitee in Model.Invitees)
                    {
                        <li class="media border-bottom border-top p-2">
                            @invitee.Email  <span class="text-primary"> ( Invitee )</span>
                        </li>
                    }
                }
                else
                {
                    <li>
                        User Not Authorized To View.
                    </li>
                }
            </ul>
        </div>

        <div class="col-6 my-1 mx-auto p-5">
            @if (Request.Cookies["UserName"]?.Value == Model.Owner.Email)
            {
                @Html.ActionLink("Create Category", "Create", "Category", new { id = Model.Id }, new { @class = "btn-sm btn-success" })
            }
            <div class="my-2">
                <h2>Categories</h2>
                <ul class="list-unstyled">
                    @if (Model.Members.Any(p => p.Email == Request.Cookies["UserName"]?.Value) || Request.Cookies["UserName"]?.Value == Model.Owner.Email)
                    {
                        foreach (var cat in Model.Categories)
                        {
                            <li class="media border-bottom border-top p-2">
                                @cat.Name
                                <div class="media-body">
                                    @if (Request.Cookies["UserName"]?.Value == Model.Owner.Email)
                                    {
                                        @Html.ActionLink("Edit", "Edit", "Category", new { id = cat.Id }, new { @class = "btn-sm btn-warning ml-3 mr-1" })
                                        @Html.ActionLink("Delete", "Delete", "Category", new { id = cat.Id }, new { @class = "btn-sm btn-danger" })
                                    }
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            User Not Authorized To View.
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-12 my-1 mx-auto p-5">
            <span class="text-info mx-1">$@Model.BankAccounts.Sum(p => p.Balance)</span>
            @Html.ActionLink("Create Account", "Create", "BankAccounts", new { id = Model.Id }, new { @class = "btn-sm btn-success" })
            <div class="my-2">
                <h2>Bank Accounts</h2>
                <ul class="list-unstyled">
                    @if (Model.Members.Any(p => p.Email == Request.Cookies["UserName"]?.Value) || Request.Cookies["UserName"]?.Value == Model.Owner.Email)
                    {
                        foreach (var ba in Model.BankAccounts)
                        {
                            <li class="media border-bottom border-top p-2">
                                @ba.Name
                                <small class="ml-2">$@ba.Balance</small>
                                <div class="media-body">
                                    @Html.ActionLink("Edit", "Edit", "Category", new { id = ba.Id }, new { @class = "btn-sm btn-warning ml-3 mr-1" })
                                    @Html.ActionLink("Delete", "Delete", "Category", new { id = ba.Id }, new { @class = "btn-sm btn-danger" })
                                </div>
                                <div>
                                    @foreach (var g in ba.Transactions.GroupBy(t => t.CategoryId))
                                    {
                                        foreach (var t in g)
                                        {
                                            <span class="text-info">@t.Category.Name $@g.Sum(c => c.Amount)</span>
                                        }
                                    }
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            User Not Authorized To View.
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>