@model  TransactionModel
<div class="container">
    <div class="row text-center">
        <div class="col-12 mx-auto text-center text-primary my-4">
            <h1>Transaction</h1>
            <hr />
        </div>
        <div class="col-12 mx-auto">
            @if (ViewBag.IsOwner)
            {
                @Html.ActionLink("Create", "Create", "Transactions", new { bankAccountId = Model.BankAccountId, HouseholdId = Model.Category.HouseholdId }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="col-6 mx-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive table-bordered table-striped display">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Amount ($)</th>
                                <th>Initiated</th>
                                <th>Is Void</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tfoot class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Amount ($)</th>
                                <th>Initiated</th>
                                <th>Is Void</th>
                                <th>Category</th>
                            </tr>
                        </tfoot>
                        <tbody class="text-primary">
                            <tr>
                                <td>@Model.Title</td>
                                <td>@Model.Created</td>
                                @if (Model.Updated.HasValue)
                                {
                                    <td>@Model.Updated</td>
                                }
                                else
                                {
                                    <td>never</td>
                                }
                                <td>@Model.Amount</td>
                                <td>@Model.Initiated</td>
                                <td>@Model.IsVoid</td>
                                <td>@Model.Category.Name</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            @if (ViewBag.IsOwner)
            {
                @Html.ActionLink("Edit", "Edit", "Transactions", new { id = Model.Id }, new { @class = "btn btn-warning ml-3 mr-1" })
                @Html.ActionLink("Delete", "Delete", "Transactions", new { id = Model.Id }, new { @class = "btn btn-danger" })
            }
            <h2 class="my-4 text-info">Description</h2>
            <p>@Model.Description</p>
        </div>
    </div>
</div>