@model  ChangePasswordModel

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body bg-light">
                    <h5 class="card-title text-center text-danger">Change Password</h5>
                    <hr />
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <div class="form-label-group">
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            @Html.LabelFor(p => p.OldPassword, new { })
                            @Html.PasswordFor(p => p.OldPassword, new { @class = "form-control", autofocus = true })
                        </div>

                        <div class="form-label-group mt-4">
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            @Html.LabelFor(p => p.NewPassword, new { })
                            @Html.PasswordFor(p => p.NewPassword, new { @class = "form-control" })
                        </div>

                        <div class="form-label-group mt-4">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            @Html.LabelFor(p => p.ConfirmPassword, new { })
                            @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <div class="form-group mt-4">
                            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Change Password</button>
                        </div>
                    }
                    <div class="form-group mt-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>